/*-------------------------------------------
	Default Styles
--------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  :root {
    --ystudy-education-primary: #890c25;
    --ystudy-education-secondary: #150005;
    --ystudy-education-heading: #00001b;
    --ystudy-education-text: #00001b;
    --tutor-color-primary: #890c25;
    --xa-primary: #890c25;
    --ystudy-education-bg: #f5f5f5;
    --ystudy-education-form: #f5f5f5;
    --ystudy-education-border: #d9d9d9;
    --ystudy-education-font:  "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--ystudy-education-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--ystudy-education-heading);
    line-height: 24px;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    margin: 0;
    line-height: 140%;
    display: block;
    word-break: break-word;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  p {
    margin: 0;
    font-weight: 400;
    line-height: 27px;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
  }
  .list-none {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
      display: inline-block;
  }
  a,
  button,
  input,
  textarea,
  img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: var(--ystudy-education-heading);
  }
  a,
  button,
  input,
  textarea {
    font-weight: 500;
  }
  input, textarea {
    width: 100%;
    padding-left: 15px !important;
    padding-right:15px !important;
  }
  .ystudy-education-primary {
    color: var(--ystudy-education-primary);
  }
  .ystudy-education-secondary {
    color: var(--ystudy-education-primary);
  }
  .ystudy-education-heading {
    color: var(--ystudy-education-heading);
  }
  .ystudy-education-text {
    color: var(--ystudy-education-text);
  }
  a,
  a:hover,
  a:focus,
  a:active,
  button {
    border: none;
    outline: none;
    border: none;
    text-decoration: none;
  }
  .td_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 100%; */
    padding: 13px 25px;
    gap: 10px;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    min-height: 50px;
    right: -2px;
    display: inline-flex;
    color: var(--ystudy-education-primary);
    border: 1px solid currentColor;
    padding: 12px 24px;
    border-radius: 30px;
  }
  .td_btn:hover,  .td_btn:focus {
    color: #fff;
    border-color: var(--ystudy-education-primary);
    background: var(--ystudy-education-primary);
  }
  .td_btn  br{
    display: none;
  }
  p a,
  ul li a,
  ol li a,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: underline;
  }
  p a:hover,
  p a:focus,
  ul li a:hover,
  ul li a:focus,
  ol li a:hover,
  ol li a:focus,
  h1 a:hover,
  h1 a:focus,
  h2 a:hover,
  h2 a:focus,
  h3 a:hover,
  h3 a:focus,
  h4 a:hover,
  h4 a:focus,
  h5 a:hover,
  h5 a:focus,
  h6 a:hover,
  h6 a:focus {
    color: var(--ystudy-education-primary) !important;
    text-decoration: underline;
  }
  .ystudy-education-mg-top-30 {
    margin-top: 30px;
  }
  .ystudy-education-entry-content p,
  .ystudy-education-entry-content h1,
  .ystudy-education-entry-content h2,
  .ystudy-education-entry-content h3,
  .ystudy-education-entry-content h4,
  .ystudy-education-entry-content h5,
  .ystudy-education-entry-content h6 {
    margin-bottom: 20px;
  }
  .ystudy-education-entry-content p:last-child {
    margin: 0;
  }
  img {
    max-width: 100%;
    display: block;
  }
  select:focus,
  select:active {
    box-shadow: 0;
    border: 0;
    outline: 0;
  }
  p {
    margin: 0;
  }
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  .container {
      max-width: 1320px;
  }
  .elementor-page .ystudy-breads {
    display: none;
  }
  .elementor-heading-title,
  .elementor-image-box-title {
    margin: 0 !important;
  }
  .ystudy-education-page.site-page.container-elementor {
    padding: 0;
  }
  .ystudy-education-page.site-page.container-elementor .container {
    max-width: 100%;
    padding: 0;
  }
  a.ystudy-education-btn,
  a.ystudy-education-btn:visited,
  button.ystudy-education-btn,
  button.ystudy-education-btn:visited {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    color: #fff;
    background: var(--ystudy-education-primary);
    padding: 16px 26px;
    border-radius: 8px;
    border: none;
    width: max-content;
  }
  a.ystudy-education-btn:hover,
  a.ystudy-education-btn:focus,
  button.ystudy-education-btn:hover,
  button.ystudy-education-btn:focus {
    background: var(--ystudy-education-heading);
    color: #fff !important;
  }
  .has-large-font-size {
    font-size: 36px;
    line-height: 42px;
  }
  .blog-section a {
    word-wrap: anywhere;
  }
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  ul,
  ul li,
  ol,
  ol li {
    margin: 0;
    padding: 0;
  }
  
  .gr-section-padding {
    padding: 80px 0;
  }
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-size: 1em;
  }
  
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    color: var(--ystudy-education-heading);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }
  
  dfn,
  cite,
  em,
  i {
    font-style: italic;
  }
  
  blockquote {
    margin: 0 1.5em;
  }
  
  address {
    margin: 0 0 1.5em;
  }
  
  pre {
    background: #eee;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
  }
  abbr,
  acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
  }
  
  mark,
  ins {
    background: #fff9c0;
    text-decoration: none;
  }
  
  big {
    font-size: 125%;
  }
  
  hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
  }
  
  ul,
  ol {
    margin: 0 0 1.5em 3em;
  }
  
  ul {
    list-style: disc;
  }
  
  ol {
    list-style: decimal;
  }
  
  li > ul,
  li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }
  
  dt {
    font-weight: 700;
  }
  
  dd {
    margin: 0 1.5em 1.5em;
  }
  
  /* Make sure embeds and iframes fit their containers. */
  embed,
  iframe,
  object {
    max-width: 100%;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }
  
  figure {
    margin: 1em 0;
  }
  
  table {
    margin: 0 0 1.5em;
    table-layout: fixed;
    width: 100%;
  }
  
  /* Links
  --------------------------------------------- */
  a {
    color: var(--ystudy-education-primary);
  }
  
  a:visited {
    color: var(--ystudy-education-primary);
  }
  
  a:hover,
  a:focus,
  a:active {
    color: var(--ystudy-education-heading);
  }
  
  a:focus {
    outline: thin dotted;
  }
  
  a:hover,
  a:active {
    outline: 0;
  }
  
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 0.6em 1em 0.4em;
  }
  
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
  }
  
  button:active,
  button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    color: #666;
    border: 1px solid var(--ystudy-education-border);
    border-radius: 3px;
    padding: 3px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111;
  }
  
  select {
    border: 1px solid #ccc;
  }
  textarea {
    width: 100%;
    min-height: 120px;
    padding-top: 15px;
  }
  a:active,
  a:focus,
  a:hover {
    color: var(--ystudy-education-primary);
  }
  a:focus,
  button:focus,
  button:hover,
  input:focus,
  input:hover,
  textarea:focus,
  textarea:hover {
    outline: thin dotted;
  }
  a,
  a:focus,
  a:hover,
  button:focus,
  button:hover,
  input:focus,
  input:hover,
  textarea:focus,
  textarea:hover {
    color: var(--ystudy-education-heading);
  }
  
  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }
  
  .site-main .comment-navigation,
  .site-main .posts-navigation,
  .site-main .post-navigation {
    margin: 0 0 1.5em;
  }
  
  .comment-navigation .nav-links,
  .posts-navigation .nav-links,
  .post-navigation .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    flex: 1 0 50%;
  }
  
  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
  .comment-navigation .nav-next a,
  .posts-navigation .nav-next a,
  .post-navigation .nav-next a {
    background: var(--ystudy-education-primary);
    border-color: transparent;
    color: #fff;
  }
  
  .comment-navigation .nav-next a:hover,
  .comment-navigation .nav-next a:focus,
  .posts-navigation .nav-next a:hover,
  .posts-navigation .nav-next a:focus,
  .post-navigation .nav-next a:hover,
  .post-navigation .nav-next a:focus {
    background: var(--ystudy-education-heading);
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background: var(--ystudy-education-primary);
  }
  /* Posts and pages
  --------------------------------------------- */
  .sticky {
    display: block;
  }
  
  .updated:not(.published) {
    display: none;
  }
  
  .page-content,
  .entry-content,
  .entry-summary {
    margin: 1.5em 0 0;
  }
  
  .page-links {
    clear: both;
    margin: 0 0 1.5em;
  }
  
  /* Comments
  --------------------------------------------- */
  .comment-content a {
    word-wrap: break-word;
  }
  
  .bypostauthor {
    display: block;
  }
  
  /* Widgets
  --------------------------------------------- */
  .widget {
    margin: 0 0 1.5em;
  }
  
  .widget select {
    max-width: 100%;
  }
  
  /* Media
  --------------------------------------------- */
  .page-content .wp-smiley,
  .entry-content .wp-smiley,
  .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  
  /* Make sure logo link wraps around logo image. */
  .custom-logo-link {
    display: inline-block;
  }
  
  /* Captions
  --------------------------------------------- */
  .wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
  }
  
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
  }
  
  .wp-caption-text {
    text-align: center;
  }
  
  /* Galleries
  --------------------------------------------- */
  .gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
  }
  
  .gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  
  .gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  
  .gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  
  .gallery-caption {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Plugins
  --------------------------------------------------------------*/
  
  /* Jetpack infinite scroll
  --------------------------------------------- */
  
  /* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
  .infinite-scroll .posts-navigation,
  .infinite-scroll.neverending .site-footer {
    display: none;
  }
  
  /* Re-display the Theme Footer when Infinite Scroll has reached its end. */
  .infinity-end.neverending .site-footer {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Utilities
  --------------------------------------------------------------*/
  
  /* Accessibility
  --------------------------------------------- */
  /* Text meant only for screen readers. */
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }
  
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  
  /* Do not show the outline on the skip link target. */
  #primary[tabindex="-1"]:focus {
    outline: 0;
  }
  
  /* Alignments
  --------------------------------------------- */
  .alignleft {
    /*rtl:ignore*/
    float: left;
  
    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .alignright {
    /*rtl:ignore*/
    float: right;
  
    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }
  .navigation.posts-navigation,
  .navigation.post-navigation {
    margin: 30px 0 0;
  }
  .nav-previous {
    margin-right: 5px;
  }
  .nav-links a {
    background: transparent !important;
    color: var(--ystudy-education-heading) !important;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc !important;
    border-radius: 30px;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    background: var(--ystudy-education-primary) !important;
    color: #fff !important;
    border-color: transparent !important;
  }
  .nav-links .nav-next a::before {
    left: 100%;
    border-right-color: transparent;
    border-left-color: var(--ystudy-education-heading);
  }
  .nav-links .nav-previous a:hover:before {
    border-right-color: var(--ystudy-education-primary);
  }
  .nav-links .nav-next a:hover:before {
    border-left-color: var(--ystudy-education-primary);
  }
  /* BreadCrumbs CSS */
  .breadcrumb {
    background-color: var(--ystudy-education-secondary);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    position: relative;
  }
  .breadcrumb::before {
    content: "";
    position: absolute;
    background: var(--ystudy-education-heading);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0)), to(rgb(14, 14, 14)));
    background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, rgb(14, 14, 14) 100%);
    inset: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
  }
  .breadcrumb__info{
    z-index: 1;
    position: relative;
  }

  .breadcrumb.breadcrumb__single {
    background: var(--ystudy-education-bg);
    padding: 30px 0 !important;
  }
  .breadcrumb.breadcrumb__single::before {
    display: none;
  }
.breadcrumb.breadcrumb__single .breadcrumb__info {
	text-align: center;
}
.breadcrumb.breadcrumb__single .breadcrumb__info h2 {
	color: var(--ystudy-education-primary);
	margin: 0;
	font-size: 30px;
	padding: 0;
	margin-bottom: 20px;
}

  .breadcrumb.breadcrumb__single .breadcrumb__info ul li,
  .breadcrumb.breadcrumb__single .breadcrumb__info ul li a{
    color: var(--ystudy-education-text) !important;
  }

@media screen and (max-width: 768px) {
  .breadcrumb {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb__info h2{
    font-size: 32px;
  }
}
    
    .breadcrumb__info {
      text-align: center;
    }
    .breadcrumb__info h2 {
    color: #fff;
    padding-bottom: 10px;
    font-size: 58px;
    line-height: 1.2em;
    font-weight: 700;
  }
  .ystudy-breadcrumb__text {
    color: #fff;
  }
  .breadcrumb__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0 !important;
    margin: 0;
  }
  .breadcrumb__info ul li, .breadcrumb__info ul li a {
    position: relative;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400 !important;
    text-decoration: none;
  }
  .breadcrumb__info ul li::after {
    content: "/";
    font-size: 20px;
    padding-left: 15px;
  }
.breadcrumb__info ul li a {
  font-size: 20px;
  color: #f6f5f3;
}
.breadcrumb__info ul li:last-child::after {
  display: none;
}

.td_page_heading .td_page_heading_shape_1 {
  left: 0;
  top: 42%;
  background: linear-gradient(291deg, #ebeced 98.22%, #868687 168.65%);
  opacity: 0.03;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_1 {
    display: none;
  }
  }
  .td_page_heading .td_page_heading_shape_2 {
  left: 16%;
  top: 42%;
  background-color: var(--ed-primary-color);
  opacity: 0.25;
  width: 151px;
  height: 151px;
  border-radius: 50%;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_2 {
    display: none;
  }
  }
  .td_page_heading .td_page_heading_shape_3 {
  left: 31%;
  top: 49%;
  }
  .td_page_heading .td_page_heading_shape_3 img {
  -webkit-animation: swing-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      animation: swing-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_3 {
    display: none;
  }
  }
  .td_page_heading .td_page_heading_shape_4 {
  left: 55%;
  top: 38%;
  }
  .td_page_heading .td_page_heading_shape_4 img {
  -webkit-animation: animo-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      animation: animo-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_4 {
    display: none;
  }
  }
  .td_page_heading .td_page_heading_shape_5 {
  left: 72%;
  top: 42%;
  }
  .td_page_heading .td_page_heading_shape_5 img {
  -webkit-animation: animo-y 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      animation: animo-y 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_5 {
    display: none;
  }
  }
  .td_page_heading .td_page_heading_shape_6 {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 1px solid var(--ed-primary-color);
  overflow: hidden;
  left: 90%;
  top: 78%;
  }
  @media (max-width: 991px) {
  .td_page_heading .td_page_heading_shape_6 {
    display: none;
  }
  }

  /* Theme Search CSS */
  .searchform {
    position: relative;
  }
  .searchform input[type="text"] {
    display: ;
    width: 100%;
    height: 52px;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    font-size: 14px;
  }
  .searchform input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 52px;
    width: 52px;
    background: transparent;
    border: none;
    z-index: 1000;
    cursor: pointer;
    text-indent: -200px;
    overflow: hidden;
    border-radius: 0;
  }
  .searchform div:after {
    content: "";
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    content: "\f002";
    font-size: 1.2em;
    font-family: "FontAwesome";
    line-height: 48px;
    text-align: center;
    border-left: none;
    z-index: 110;
    color: var(--ystudy-education-primary);
  }
  .searchform input[type="text"]:hover,
  .searchform input[type="text"]:focus {
    border-color: var(--ystudy-education-primary);
  }
  .ystudy-education-search-close {
    min-width: 34px;
    min-height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 19px;
    color: #fff !important;
    border-radius: 100%;
    background: transparent;
  }
  .ystudy-education-search-close:hover,
  .ystudy-education-search-close:focus {
    background: var(--ystudy-education-heading);
    color: var(--ystudy-education-primary) !important;
    border-color: transparent !important;
  }
  /* Search Block */
  
  .wp-block-search .wp-block-search__input {
    border: 1px solid #ccc;
  }
  .wp-block-search .wp-block-search__button:hover,
  .wp-block-search .wp-block-search__button:focus {
    background: var(--ystudy-education-heading);
  }
  /* Post Meta */
  .ystudy-education-post-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid var(--ystudy-education-border);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .ystudy-education-post-meta li {
    display: inline-block;
    margin-right: 5px;
  }
  .ystudy-education-post-meta li i {
    color: var(--ystudy-education-primary);
    margin-right: 5px;
    font-size: 13px;
  }
  .ystudy-education-post-meta li a {
    color: var(--ystudy-education-heading);
    font-weight: normal;
    text-decoration: none;
  }
  .ystudy-education-post-meta li a:hover {
    color: var(--ystudy-education-primary);
  }
  /*-------------------------------------------
      End Default Styles
  --------------------------------------------- */
  
.tutor-card.tutor-course-card {
	background: transparent;
}

.td_heading_line {
  padding-bottom: 20px;
  position: relative;
}
.td_heading_line::before{
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--ystudy-education-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

.td-contact__form-main {
	border: 1px solid var(--ystudy-education-border);
	padding: 30px;
	border-radius: 10px;
}
.td-contact__form-main input{
	height: 60px;
}
.td-contact__form-main textarea{
	max-height: 160px;
}
.td-contact__form-main .form-group {
  margin-bottom: 20px;
}

/* Blog Design Fix */
.xa-blog-single__title a {
	color: var(--ystudy-education-heading);
}
.xa-blog-single__body {
	border: 1px solid #ebeced;
	border-top-width: 1px;
	border-top-width: 0;
	padding: 20px 30px 40px;
	border-radius: 0 0 10px 10px;
	margin-top: 0;
}
.xa-blog-single__body .xa-blog-single__date {
  color: var(--ystudy-education-heading);
}
.xa-blog-single__body .xa-blog-single__btn a {
  border: 1px solid var(--ystudy-education-primary);
  border-radius: 30px;
  background: transparent;
  color: var(--ystudy-education-primary) !important;
}
.xa-blog-single__body .xa-blog-single__btn a:hover {
  border-color: transparent !important;
  background: var(--ystudy-education-primary) !important;
  color: #fff !important;
  border: ;
}
