
/*-------------------------------------------
	Responsive CSS Area
---------------------------------------------*/
@media only screen and (max-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}
    /* Tablet Layout 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header .main-navigation ul {
        padding-right: 0;
      }
      .header .main-navigation ul li {
        margin-right: 2px;
      }
      .header .main-navigation ul li a {
        padding: 18px 5px;
        font-size: 14px;
      }
      .post-main-slider .ystudy-education-content {
        margin: 0 5px;
        top: 0;
        padding: 20px;
        top: -50px;
        margin-bottom: -50px;
      }
      .ystudy-education-sidebar .widget-area {
        padding: 20px;
      }
    
      .search-form-main {
        padding: 30px 20%;
      }
    }
    @media only screen and (max-width: 767px) {
      #site-navigation {
        display: none;
      }
      .main-menu {
        padding: 15px 0;
      }
      .header .social-widget {
        top: 3px;
      }
      #calendar_wrap {
        overflow: scroll;
      }
      .scroll-top {
        width: 44px;
        height: 44px;
        line-height: 44px;
        top: -22px;
        right: 30px;
        font-size: 20px;
      }
      .ystudy-education-footer__branding {
        justify-content: center;
        flex-direction: column;
      }
    }
    
    @media only screen and (max-width: 767px) {
      .ystudy-404__content {
        padding: 30px;
      }
      .ystudy-404__title span {
        font-size: 60px;
      }
      .ystudy-404__title {
        font-size: 30px;
      }
      .search-form-main {
        padding: 25px;
      }
    }
    
    @media only screen and (max-width: 360px) {
      .ystudy-404__title,
      .ystudy-404__inside {
        font-size: 28px;
      }
    }
    
    @media only screen and (max-width: 1000px) {
      .ystudy-education-main-area__content {
        order: -1;
      }
    }
    
    
    @media only screen and (min-width: 1400px) {
    .ystudy-education-sidebar__right {
      padding-left: 30px;
    }
    }


    
    .elementor-widget-text-editor p {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit;
    }
    .elementor-widget-text-editor p:last-child {
      margin: 0;
    }
    
    .elementor-accordion .elementor-tab-title {
        padding: 25px 20px !important;
        font-weight: 700 !important;
        line-height: 1 !important;
    }
    
    /* Mobile Menu */
    .close-menu.ystudy-education-btn {
      margin-top: 20px;
    }
    .offcanvas-header {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 1rem 1rem;
      padding-top: 0;
      padding-bottom: 0;
      justify-content: space-between;
      border-bottom: 1px solid rgba(50, 59, 73, 0.1);
      padding-bottom: 15px;
    }
    .offcanvas-header h3 {
      font-size: 20px;
      font-weight: 600;
    }
    .offcanvas__close-btn {
      border: none;
      padding: 0;
      width: 36px;
      height: 36px;
      background: var(--ystudy-education-text);
      color: #fff;
      border-radius: 100%;
    }
    .offcanvas__close-btn svg {
      width: 26px;
      height: 12px;
    }
    .offcanvas__close-btn:hover, .offcanvas__close-btn:focus {
      background: var(--ystudy-education-primary) !important;
      color: #fff;
    }
    .mobile-menu-popup {
      padding-top: 15px;
    }
    .mobile-menu .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 0;
    }
    .mobile-menu .mobile-menu-section ul {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 0;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .mobile-menu .mobile-menu-section ul ul {
      padding-left: 15px;
      border-left: 1px solid rgba(50, 59, 73, 0.1);
      padding-bottom: 15px;
    }
    .mobile-menu .mobile-menu-section .menu-list li {
      width: 100%;
    }
    .mobile-menu .mobile-menu-section .menu-list li:not(:last-child) {
      border-bottom: 1px solid rgba(50, 59, 73, 0.1);
    }
    .mobile-menu .mobile-menu-section .has-dropdown .m-menu {
      position: relative;
      box-shadow: none;
      padding-left: 20px;
      padding-top: 15px;
      padding-top: 0px;
      visibility: visible;
      opacity: 1;
      display: none;
      transition: 0.5s ease-in 0s;
    }
    .mobile-menu .mobile-menu-section .has-dropdown .m-menu li {
      padding: 1rem 0px;
    }
    .mobile-menu .mobile-menu-section .has-dropdown .m-menu li a {
      font-size: 14px;
    }
    .mobile-menu .mobile-menu-section .has-dropdown .m-menu li:not(:last-child) {
      border-bottom: 1px solid rgba(50, 59, 73, 0.1);
    }
    .mobile-menu .mobile-menu-section .has-dropdown:hover .m-menu {
      display: block;
    }
    .mobile-menu .mobile-menu-section .menu-list li a {
      color: var(--ystudy-education-text) !important;
      text-decoration: none;
      display: block;
      padding: 10px 0;
      border: 1px solid transparent;
      font-weight: 400;
    }
    .mobile-menu .mobile-menu-section .menu-list li a:hover, .mobile-menu .mobile-menu-section .menu-list li a:focus {
        border-color: var(--ystudy-education-primary) !important;
        color: var(--ystudy-education-primary) !important;
        padding-left: 10px;
    }
    .mobile-menu .mobile-menu-section .menu-list li ul li a {
      color: var(--ystudy-education-text);
    }
    /* hambur btn */
    .header__hamburger-2 {
      height: 42px;
      width: 42px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      background: none;
      border: none;
      border: none !important;
      transition: all 0.3s ease;
      outline: 0 !important;
      background: #fff;
      padding: 14px 3px;
    }
      .header__hamburger-2:hover,.header__hamburger-2:focus{
        transform: scale(0.9);
      }
      .header__hamburger-2 span {
        height: 2px;
        width: 60%;
        background-color: var(--ystudy-education-primary);
        border-radius: 2px;
        border: none;
        cursor: none;
      }
      .header__hamburger-2:hover span,.header__hamburger-2:focus span{
        background-color:var(--ystudy-education-primary);
      }
    /*-------------------------------------------
        End Responsive CSS Area
    ---------------------------------------------*/
    