
.td_card.td_style_3 {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.td_card.td_style_3 .td_card_label {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
	padding: 4px 10px;
	border-radius: 6px;
  background-color: var(--ystudy-education-primary);
  color:#fff !important;
}
.td_card.td_style_3 .td_card_title,
.td_card.td_style_3 .td_card_subtitle {
  display: -webkit-box;
}
.td_card.td_style_3 .td_card_meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
	list-style: none;
	padding: 0;
	margin-left: 0;
}
.td_card_categories {
	margin-bottom: 10px;
}
.td_card.td_style_3 .td_card_subtitle{
  margin-bottom: 0;
}
.td_card.td_style_3 .td_card_meta li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.td_card.td_style_3 .td_card_meta li:not(:last-child) {
  padding-right: 30px;
  margin-right: 30px;
}
@media (max-width: 1400px) {
  .td_card.td_style_3 .td_card_meta li:not(:last-child) {
    padding-right: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .td_card.td_style_3 .td_card_meta li:not(:last-child) {
    padding-right: 12px;
    margin-right: 12px;
  }
}
.td_card.td_style_3 .td_card_meta li:not(:last-child)::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: var(--ystudy-education-primary);
  right: 0;
  top: 50%;
  margin-top: -10px;
}
@media (max-width: 1199px) {
  .td_card.td_style_3 .td_card_meta {
    font-size: 16px;
  }
  .td_card.td_style_3 .td_card_meta img {
    width: 20px;
  }
}
.td_card.td_style_3 .td_card_category {
  padding: 4px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.td_card.td_style_3 .td_card_category span {
  position: relative;
  z-index: 2;
}
.td_card.td_style_3 .td_card_category::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--ystudy-education-primary);
  opacity: 0.12;
}
.td_card.td_style_3 .td_card_info {
	padding: 30px;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background: #fff;
}
.td_card.td_style_3 .td_card_title{
	font-size: 24px;
	line-height: 1.42em;
}
.td_card.td_style_3 .td_card_title a {
	color: var(--ystudy-education-heading);
	text-decoration: none;
}
@media (max-width: 1400px) {
  .td_card.td_style_3 .td_card_info {
    padding: 25px;
  }
}
@media (max-width: 1199px) {
  .td_card.td_style_3 .td_card_info {
    padding: 18px 20px 22px 20px;
  }
}
.td_card.td_style_3 .td_card_review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}
.td_card.td_style_3 .td_card_btn {
	padding-top: 15px;
	margin-bottom: -75px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.td_card.td_style_3 .td_card_info_in {
  overflow: hidden;
}
.td_card.td_style_3 .td_card_thumb {
  overflow: hidden;
  display: block;
  position: relative;
}
.td_card.td_style_3 .td_card_thumb img {
  width: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.td_card.td_style_3 .td_card_thumb:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.td_card.td_style_3 .td_card_lable {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 9px 15px;
}
.td_card.td_style_3:hover .td_card_info {
  margin-top: -75px;
}
.td_card.td_style_3:hover .td_card_btn {
  margin-bottom: 0px;
}

/* Course Page  */
.ed-course__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ed-course__filter-text {
  margin: 0;
}

.ed-course__filter .ed-hero__search-form input {
  padding: 16px 140px 16px 24px;
}

.ed-pagination {
  text-align: center;
  margin-top: 70px;
}

.ed-pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.ed-pagination__list li a {
  background: var(--eduna-lms-bg);
  width: 46px;
  height: 46px;
  border-radius: 100%;
  text-align: center;
  line-height: 46px;
  color: var(--ed-title-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: all 0.4s ease;
}
.ed-pagination__list li a:hover,
.ed-pagination__list li.active a {
  background: var(--ystudy-education-primary);
  color: var(--ed-white-color);
}
.ed-pagination__list li a i {
  font-size: 24px;
  line-height: 52px;
}

/* Course Details  */
.ed-course__details {
  padding: 70px 0px 110px;
}

.ed-course__details-content {
  margin-top: 40px;
}
.ed-course__details-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 8px;
}
.ed-course__details-img {
  margin-bottom: 40px;
}
.ed-course__details-img.image-2 {
  margin: 0;
  margin-top: 40px;
}
.ed-course__details-img.image-2 img {
  height: 354px;
}
.ed-course__details-content h1, .ed-course__details-content h2, .ed-course__details-content h3, .ed-course__details-content h5, .ed-course__details-content h6 {
	margin-bottom: 15px;
}
.tutor-course-content-list-item-title {
	margin: 0 !important;
}
.ed-course__details-content img {
	min-width: 100%;
	height: 450px;
	object-fit: cover;
	border-radius: 8px;
}
.ed-course__details-list {
  margin-top: 32px;
}
.ed-course__details-content ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.ed-course__details-content ul li:last-child {
  margin: 0;
}

.ed-course__sidebar-widget {
  background: var(--eduna-lms-bg);
  border-radius: 8px;
  padding: 30px;
  margin-top: 40px;
}

.ed-course__sidebar-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 32px;
}

.ed-course__sidebar-widget ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9e5da;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #4e5450;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.ed-course__sidebar-widget ul li:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.ed-course__sidebar-widget ul li .ed_course_info {
  color: var(--ed-paragraph-color);
  font-weight: 400;
}
.ed-course__sidebar-widget ul li .price {
  color: var(--ystudy-education-primary);
  font-weight: 700;
}

.ed_already_logged_in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.ed_already_logged_in h2 {
  font-size: 32px;
}

.tutor-wrap.tutor-wrap-parent {
	padding: 80px 12px;
}
#tutor-registration-wrap {
	max-width: 800px;
	padding: 30px;
}

#tutor-registration-wrap .tutor-form-row {
  display: flex;
  gap: 30px;
}
#tutor-registration-wrap .tutor-form-row > div {
  width: 100%;
  display: ;
}
.tutor-card{
  border:none !important;
}
#tutor-registration-wrap .tutor-form-group {
	margin-bottom: 0;
}
#tutor-registration-wrap  input{
    margin-bottom: 30px !important;
}
#tutor-registration-wrap  .tutor-btn {
	padding: 15px 0;
}
@media screen and (max-width: 767px) {
    #tutor-registration-wrap .tutor-form-row {
        flex-wrap: wrap;
        gap: 0;
    }
    #tutor-registration-wrap{
        max-width: 100%;
        padding:10px;
    }
}

.tutor-sidebar-card .tutor-card-body {
	padding: 32px;
	background: var(--tutor-color-primary) !important;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px !important;
}
.tutor-sidebar-card .tutor-card-body * {
  color: #fff;
  text-align: center;
}
.tutor-sidebar-card .tutor-btn {
	background: #fff;
	color: var(--tutor-color-primary) !important;
	border: none;
}
.tutor-sidebar-card .tutor-btn:hover{
	opacity:0.8;
}
.tutor-sidebar-card .tutor-btn span {
  color: var(--tutor-color-primary) !important;
}

.tutor-login-wrap {
  margin: 120px auto;
}
.tutor-login-wrap .tutor-form-control{
min-height:50px;
}

.tutor-custom-course .tutor-wrap.tutor-wrap-parent {
  padding: 0;
}
.tutor-custom-course .tutor-wrap.tutor-wrap-parent .tutor-course-filter {
  display: none;
}

.custom-hero-title span {
  background: var(--eduna-lms-secondary);
  border-radius: 10px;
  display: inline-block;
  padding: 0px 14px;
  font-weight: inherit;
}
/* Tutor LMS */
.tutor-course-details-tab p {
margin-bottom: 15px;
}
.tutor-course-details-tab p:last-child {
margin: 0;
}

/* Cart Page */
.tutor-cart-page .tutor-fs-3 {
	font-size: 24px;
}
.tutor-checkout-billing input, .tutor-checkout-billing select {
	min-height: 60px;
  color:var(--eduna-lms-text) !important;
  border: 1px solid var(--eduna-lms-border) !important;
}
/* Tutor Single Page */
.tutor-course-content-list-item-title a{
  text-decoration: none !important;
}
.tutor-course-details-content  ul {
	margin: 0;
	padding: 0;
	margin: 0 0 0 15px;
}
.tutor-course-details-content .tutor-fs-5, .tutor-course-details-widget-title,.tutor-tab-item    h3 {
  font-weight: 500;
}

.tutor-course-details-content  p {
  margin-bottom: 20px;
}
.tutor-course-details-content p + p {
  margin: 0;
}
.tutor-course-details-content ul,.tutor-course-details-content ol {
  margin-bottom: 20px;
}
.tutor-course-details-content h1,
.tutor-course-details-content h2,
.tutor-course-details-content h3,
.tutor-course-details-content h4,
.tutor-course-details-content h5,
.tutor-course-details-content h6{
  margin-bottom: 15px
}

.tutor-form-check-input.tutor-form-check-input{
  padding:0 !important;
}